*{
    scroll-behavior: auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    border-right: 1px solid #ccc;
    width: 15%;
    font-size: 18px;
    color: #0080f1;
    margin: auto 15px;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    width: 7%;
    text-align: center;
    align-self: center;
    padding: 1%;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    margin: 0 !important;
    background-color: #32A9ED;
}

.login-btn{
    font-size: 15px;
    font-weight: 500;
}

.pages{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}
.pages p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 84, 87);
}

.pages p:hover{
    cursor: pointer;
}